<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    ok
    <button id="call">call</button>
    <div id="meet"></div>

    <input type="txt" id="number" />
    <button id="join">join</button>

    <h1>local stream</h1>
    <video
      id="localStream"
      autoplay
      controls="false"
      muted
      height="400"
      width="400"
      playsinline
    ></video>

    <h1>Remote stream</h1>
    <video
      id="recievedStream"
      autoplay
      controls="false"
      muted
      height="400"
      width="400"
      playsinline
    ></video>
  </body>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="./main.js"></script>
</html>
